<div id="calendar-nav">
  <form>
    <label for="mm">Month
      <input type="number" name="mm" [(ngModel)]="calDate.mm" #mmCtrl="ngModel" required min="1" max="12" />
    </label>
    <label for="dd">Day of Month
      <input type="number" name="dd" [(ngModel)]="calDate.dd" #ddCtrl="ngModel" required min="1" max="31" />
    </label>
    <label for="yyyy">Year
      <input type="number" name="yyyy" [(ngModel)]="calDate.yyyy" #yyyCtrl="ngModel" required min="2000" max="3000" />
    </label>

    <button id="displayDaySchedule" (click)="displayDaySchedule()">Display Day Schedule</button>
  </form>
</div>
