<h2>Schedule for: {{ formattedDate }}</h2>

<div class="schedule-stage">
    <div class="day-schedule">
        <div *ngFor="let t of timeslots" class="hour-timeslot">
            {{ t.hour }}:00
            <span *ngIf="getAppointmentByTimeslot(t) !== undefined;else add_appointment_button" class="appointment-holder">
                <span class="appointment" (click)="editAppointment(getAppointmentByTimeslot(t))">{{ getAppointmentByTimeslot(t).notes }}</span>
            </span>
            <ng-template #add_appointment_button>
                <span (click)="scheduleAppointment(t)">[+]</span>
            </ng-template>
        </div>
    </div>
    <div *ngIf="obscureScheduleUi" class="schedule-overlay">LOADING...</div>    
</div>
